<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.it.code.dao.SystemDao">

<select id="testConnect" parameterType="String" resultType="Map">
 select 1 as number;
</select>
</mapper>